.home-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .home-modal-content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-modal-image {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
  }
  
  .home-modal-children {
    margin-top: 16px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    background: #fffaf5; /* Very light pastel cream */
    color: #6a5acd; /* Lilac */
    margin-bottom: 10px;;
  }
  
  .home-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f8bbd0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    border-radius: 4px;
  }
  
  .home-modal-prev,
  .home-modal-next {
    position: absolute;
    bottom: 45px;
    transform: translateY(-50%);
    background: #f8bbd0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1001;
    border-radius: 4px;
  }
  
  .home-modal-prev {
    left: 10px;
  }
  
  .home-modal-next {
    right: 10px;
  }
  
  .home-modal-prev:hover,
  .home-modal-next:hover,
  .home-modal-close:hover {
    background: #f48fb1;
  }