.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f8bbd0, #ffe4e1); /* Match header gradient */
  text-align: center;
}

.splash-logo {
  width: 300px;
  height: auto;
  border-radius: 5px;
}