.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(248, 187, 208, 0.6); /* Light pink with more transparency */
}


.splash-logo {
  width: 300px;
  height: auto;
  border-radius: 5px;
}